/*MAIN GRID*/
.grid {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 30/100fr 52/100fr 28.5/100fr 43.3/100fr 57.2/100fr 66.3/100fr 89.4/100fr 43.5/100fr 52.2/100fr 52.2/100fr 35/100fr;
  grid-template-areas:
  ". card1 ."
  ". card2 ."
  ". card3 ."
  ". card4 ."
  ". card5 ."
  ". card6 ."
  ". card7 ."
  ". card8 ."
  ". card9 ."
  ". card10 ."
  ". card11 .";
  grid-row-gap: 50px;
  margin: 50px 0px;
}

.card1 {
  grid-area: card1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 15px;
}

.card2 {
  grid-area: card2;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  padding: 50px 0px 50px 15px;
}

.card3 {
  grid-area: card3;
  padding: 50px 15px;

}

.card4 {
  grid-area: card4;
  padding: 50px 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card5 {
  grid-area: card5;
  padding: 50px 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card6 {
  grid-area: card6;
  padding: 50px 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card7 {
  grid-area: card7;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card8 {
  grid-area: card8;
  padding: 50px 15px;
}

.card9 {
  grid-area: card9;
  padding: 50px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card10 {
  grid-area: card10;
  padding: 50px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.card11 {
  grid-area: card11;
  padding: 50px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

#card {
  box-shadow: 0 10px 18px 4px rgba(0,0,0,0.02);
  border-radius: 10px;

  background-color:#F6FAFF;
}

/*buttons*/
#seemore {
  align-self: flex-start;
  color: white;
  margin: 20px 0px 0px 0px;
  padding:0px 25px;
}

/*IMAGES*/
img {
  width:auto;
}

.card2 img{
    height: 220px;
}

.card5 img {
  height:180px;
  margin-top: 30px;
}

.card6 img {
  height:340px;
  margin-top: 10px;

}

.card7 img {
  height:520px;
  margin-top: 30px;
}

.card9 img, .card10 img {
  height:200px;
}

.picto1, .picto2, .picto3 {
  height: 36px;
    margin-right: 16px;
}

.buttons {
  height: 23px;
}

.color {
  height: 70px;
  margin-bottom: 20px;

}

.roboto p{
	text-align:left;
	font-family: 'Roboto', sans-serif;
	color:#383F52;

  font-size:16px;
  letter-spacing: 0.82px;
  line-height: 19px;

  margin-bottom: 8px;
}

.roboto {
	margin:0px 0px 20px 0px;
}

.pictos {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}


/*highlight*/
#title3::before {
	width:175px;
	height:18px;
}

#title6::before {
	content:"";
	background-color:#EECFBF;
	display:block;
	position:relative;
	top:38px;
	left:8px;

	border-radius:90px;
  z-index:-1;
  position:relative;
  width:180px;
	height:18px;
}

#title7::before {
	width:240px;
	height:18px;
}

#title8::before {
	width:180px;
	height:18px;
}

#title9::before {
	width:145px;
	height:18px;
}

/*MEDIA QUIERIES*/

@media screen and (min-width:1600px) {
  .grid {
    display: grid;
    grid-template-rows: 390px 50px 320px 50px 83px 50px 350px 50px 158px 50px 500px 50px 522px 50px 522px 50px 350px ;
    grid-template-columns: 400px 1fr 50px 1fr 400px;
    grid-template-areas:
    ". card1 . card2 ."
    ". . . . ."
    ". card3 . card4 ."
    ". . . card4 ."
    ". card5 . card4 ."
    ". card5 . . ."
    ". card5 . card6 ."
    ". . . card6 ."
    ". card7 . card6 ."
    ". card7 . . ."
    ". card7 . card8 ."
    ". . . . ."
    ". card9 card9 card9 ."
    ". . . . ."
    ". card10 card10 card10 ."
    ". . . . ."
    ". card11 card11 card11 .";
  }

  /*IMAGES*/
  img {
    width:auto;
  }

  .card2 img{
    height: 250px;
  }

  .card5 img {
    height:300px;
    margin-top: 20px;
  }

  .card6 img {
    height:450px;
    align-self: center;
  }

  .card7 img {
    height:620px;
    margin-top: 30px;
    align-self: center;
  }

  .card9 img, .card10 img {
    height:450px;
  }

  .picto1, .picto2, .picto3 {
    height: 40px;
    margin-right: 16px;
  }

  .buttons {
    height: 27px;
  }

  .color {
    height: 95px;
    margin-bottom: 20px;
  }
  /*END IMAGES*/

  #back {
    padding: 15px 25px !important;
  }
}

@media screen and (min-width:1290px) and (max-width:1600px) {
  .grid {
    display: grid;
    grid-template-rows: 390px 50px 320px 50px 83px 50px 350px 50px 158px 50px 500px 50px 522px 50px 522px 50px 350px ;
    grid-template-columns: 200px 1fr 50px 1fr 200px;
    grid-template-areas:
    ". card1 . card2 ."
    ". . . . ."
    ". card3 . card4 ."
    ". . . card4 ."
    ". card5 . card4 ."
    ". card5 . . ."
    ". card5 . card6 ."
    ". . . card6 ."
    ". card7 . card6 ."
    ". card7 . . ."
    ". card7 . card8 ."
    ". . . . ."
    ". card9 card9 card9 ."
    ". . . . ."
    ". card10 card10 card10 ."
    ". . . . ."
    ". card11 card11 card11 .";
    grid-row-gap: 0px;

    margin-top: 150px;
    margin-bottom: 150px;
  }

  /*IMAGES*/
  img {
    width:auto;
  }

  .card2 img{
      height: 250px;
  }

  .card5 img {
    height:240px;
    margin-top: 20px;
  }

  .card6 img {
    height:380px;
    align-self: center;
  }

  .card7 img {
    height:620px;
    margin-top: 30px;
    align-self: center;
  }

  .card9 img, .card10 img {
    height:450px;
  }

  .picto1, .picto2, .picto3 {
    height: 40px;
    margin-right: 16px;
  }

  .buttons {
    height: 27px;
  }

  .color {
    height: 80px;
    margin-bottom: 20px;
  }
  /*END IMAGES*/
  #back {
    padding: 15px 25px !important;
  }
}


@media screen and (min-width:1024px) and (max-width:1290px) {
  .grid {
    display: grid;
    grid-template-rows: 390px 50px 320px 50px 83px 50px 350px 50px 158px 50px 500px 50px 522px 50px 522px 50px 350px ;
    grid-template-columns: 100px 1fr 50px 1fr 100px;
    grid-template-areas:
    ". card1 . card2 ."
    ". . . . ."
    ". card3 . card4 ."
    ". . . card4 ."
    ". card5 . card4 ."
    ". card5 . . ."
    ". card5 . card6 ."
    ". . . card6 ."
    ". card7 . card6 ."
    ". card7 . . ."
    ". card7 . card8 ."
    ". . . . ."
    ". card9 card9 card9 ."
    ". . . . ."
    ". card10 card10 card10 ."
    ". . . . ."
    ". card11 card11 card11 .";
    grid-row-gap: 0px;

    margin-top: 150px;
    margin-bottom: 150px;
  }

  /*IMAGES*/
  img {
    width:auto;
  }

  .card2 img{
      height: 250px;
  }

  .card5 img {
    height:260px;
    margin-top: 20px;
  }

  .card6 img {
    height:450px;
    align-self: center;
  }

  .card7 img {
    height:620px;
    margin-top: 30px;
    align-self: center;
  }

  .card9 img, .card10 img {
    height:450px;
  }

  .picto1, .picto2, .picto3 {
    height: 40px;
    margin-right: 16px;
  }

  .buttons {
    height: 27px;
  }

  .color {
    height: 95px;
    margin-bottom: 20px;
  }
  /*END IMAGES*/

  #back {
    padding: 15px 25px !important;
  }
}

}
