body {
	background-image: url('background.png') !important;
	background-color: #faf4eb;
	margin:0px;
	padding: 0px;
	font-family: 'Karla', sans-serif;
}


header {
	padding: 20px 70px 30px 70px;

}


h1 {
	color: #35322B;
	font-size: 25px;
	font-weight: normal;
	margin:0px;
	line-height: 35px;
}

h2 {
	color: #35322B;
	font-size: 35px;
   letter-spacing: 2px;
   line-height: 40px;
   text-align: center;
	text-transform: uppercase;
	text-align: center;
	margin: 50px 0px 70px 0px;
}

h4 {
	color: #35322B;
	font-size: 20px;

}

h3 {
	color: #BD6B42;
	text-transform: uppercase;
	font-size: 25px;
  letter-spacing: 0.33px;
  line-height: 27px;
  text-align: center;
	margin-top:0px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #faf4eb;
	letter-spacing: 2px;

	font-size: 15px;
	font-weight: 400;
}

p {
	color: #35322B;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 22px;
	text-align: left;
}



/* header */

.top-nav {
	background-color: #faf4eb;
	text-align: left;
	padding-top: 10px;
	width: 100%;
}

.top-nav img {
	width: 233px;
	height: 50px;
	max-width: 100%;
  height: auto;
}

.navigation {
	text-align: right;
	padding: 0px
}

.navigation li {
	display:inline-block;
	margin: 0px 15px;
}


:root {
  --mainColor: #BD6B42;
}

#button-contact {
	color:#35322B;
	padding-bottom: 5px;
	border-bottom: solid 1px #faf4eb;
}

#button-contact:hover {
  border-bottom:solid 2px #BD6B42;
}
/* presentation */
.container-presentation {
	margin: 90px 140px 90px 140px;
}

.container-presentation img{
	max-height: 456px;
  max-width: 350px;
	margin-left: 60px;
}

.presentation p{
	font-size: 20px;
	letter-spacing: -0.5;
	color:#BD6B42;
}

.presentation h1 {
	font-size: 30px;
	letter-spacing: -0.5;
}


.button-presentation {
	margin-top: 60px;
	text-align: left;
}

.button-main {
	background: #BD6B42;
	padding: 21px 34px;
	margin-top: 40px;
	color: #faf4eb;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 400;
	border: solid 2px #BD6B42;
	border-radius: 40px;
}

.button-main:hover {
	background-color: #faf4eb;
	color: #BD6B42;
}


/* main */
.icon-contact {
	max-width: 60px;
	max-height: 60px;
	fill:#35322B;
	position:fixed;
	left: 93%;
	top: 87%;
	transition: all .5s ease-in-out;
}

.icon-contact:hover{
	opacity:0.9;
	transform: rotate(360deg);
}

.container img {
	max-width: 100%;
}

/* introduction text */
.introduction {
	margin: 40px 140px 40px 140px;
}

.introduction p  {
	margin-bottom: 70px;
}

#you{
	text-align: center;
	font-weight: bold;
}

/* Expertise */
.icon-expert {
		fill:#35322B;
		max-height: 60px;
		max-width: 60px;
		margin: 10px 10px 20px 10px;
}

.expert {
	margin: 100px 0px 30PX 0PX;
	text-align: center;
	padding: 0px 50px;
}

.expert p {
	line-height: 26px;
	margin-bottom: 60px;
	padding:0px 40px;
	text-align: center !important;
}

/*project*/
.projects-title h2 {
	margin:120px 0px 20px 0px !important;
}

.projects-title p {
	margin: 20px 0px;
}

.container-projects {
	margin:30px 0px 50px 0px;;
	padding: 30px 120px;
	text-align: center;
}

.container-projects p {
		text-align: center;
		margin-bottom: 0px !important;
}

.container-elements-project {
	text-transform: none;
	padding: 50px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 9px 24px -5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 9px 24px -5px rgba(0,0,0,0.15);
	box-shadow: 0px 9px 24px -5px rgba(0,0,0,0.15);
	margin-bottom: 30px;
	background-color: #faf4eb;
	position: relative;

}

.overlay {
	background: #BD6B42;
	padding: 21px 34px;
	color: #faf4eb;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 400;
	border: solid 2px #BD6B42;
	border-radius: 40px;
}

@media only screen
and (min-device-width : 365px)
and (max-device-width : 1024px){

		.overlay{
			position: relative;
			top:60px;
		}

		.container-elements-project {
			margin-bottom: 100px;
		}

		.icon-projects {
				fill:#35322B;
				max-height: 100px;
				max-width: 100px;
				margin: 0px;
				padding:10px;
		}


}

@media only screen
and (min-device-width : 1024px) {

		.overlay{
			position:relative;
			top:-60px;
			opacity:0;
		}

		.overlay:hover {
			background-color: #faf4eb;
			color: #BD6B42;
		}

		.icon-projects {
				fill:#35322B;
				max-height: 100px;
				max-width: 100px;
				margin: 0px;
				padding:10px;
		}

		.container-elements-project:hover .overlay{
			opacity: 1;
		}

		.container-elements-project:hover .container-icons-project{
			filter: blur(5px);
			-webkit-filter': blur(5px);
		}
}

/*Hobbies*/

.container-hobbies {
	margin: 40px 0px 90px 0px;
	text-align: center;
}

.container-hobbies p {
 text-align: center;
 padding: 0px 20px

}

.container-hobbies h2 {
	margin: 30px 0px 70px 0px;

}

.container-hobbies h4 {
	margin: 10px 0px 0px 0px;
	width: 100%;
}

.container-hobbies img {
	width: 100%;
	height: auto;
	margin: 10px 0px;
}

.icon-hobbies {
		fill:#35322B;
		max-height: 50px;
		max-width: 50px;
		margin: 0px;
}

.container-hobbies a {
	text-decoration: none;
	text-transform: none;
	color: #35322B;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: bold;
}

/*contact*/
.container-contact {
	background: #BD6B42;
	height:240px;
	width:100%;
	display: flex;
	justify-content: center;
}

.contact {
	text-align: center;
	margin: 40px 0px;
}

.contact h4 {
	color:#faf4eb;
	margin-bottom: 50px;
}

.button-contact {
	background: #faf4eb;
	color: #BD6B42;
	padding: 21px 34px;
	margin: 40px 0px;
	letter-spacing: 2px;
	border-radius: 40px;
	font-size: 15px;
	font-weight: 500;
	border: solid 2px #faf4eb;
}

.button-contact:hover {
	background: #BD6B42;
	color: #faf4eb;
}

/*footer*/

footer {
	text-align: center;
}

footer h4 {
	text-transform: none;
	font-size: 15px;
	margin-bottom: 60px;
}

.language p, .language a{
	color:#35322B !important;
	text-transform: none;
	text-align: center;
	font-size: 16px;
	margin-top: 30px;
}

.container p {
	color:#35322B !important;
	text-transform: none;
	text-align: center;
	font-size: 16px;
	margin-top: 40px;
}

/*Social media*/

.social-icon-container {
	padding: 10px 0px 30px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon{
	fill:#35322B;
	max-height: 40px;
	max-width: 40px;
	margin: 0px 10px;
}

.icon:hover{
	opacity: 0.8;
}

/*Responsive ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){

	.container-presentation {
		margin: 90px 30px;
	}

	.container-presentation img{
		max-width: 300px;
		max-height: 100%;
	}

	.container-icons-project {
		padding: 50px 30px;
	}

	.container-icons-project p{
		font-size: 18px;
	}

	.icon-contact {
		left: 91%;
		top: 88%;
	}

	.expert p {
		padding: 0px;
	}

	.container-projects {
		padding:30px 60px;
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.container-presentation img{
		margin: 0px;
	}

	.container-hobbies p {
		padding: 0px;
	}

	.icon-contact {
		left: 89%;
		top: 91%;
	}
}


/*RESPONSIVE mobile*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px){
	header {
		padding: 0px 0px;
		margin: 20px
	}

	h1 {
		font-size: 18px;
	}

	.introduction {
		margin: 0px
	}

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 25px;
	}

	a {
			font-size: 12px;
	}

	.navigation {
		text-align: center;
		width: 100%;
	}

	ul {
		margin-top:10px;
	}

	#button-contact {
		text-align: right;
		padding: 0;
	}

	.container-presentation {
		margin: 40px 0px 60px 0px;
		}

	.container-presentation img{
		margin: 0px;
		max-width: 250px;
		max-height: 100%;
	}

	.container-presentation p{
		margin-top: 40px;
	}

	.button-main {
		margin-bottom: 40px;
	}

	.button-presentation {
		text-align: center;
	}

	.expert {
		margin: 0px;
		padding: 0px;
	}

	.container {
		margin-top: 100px;
	}

	hr {
		margin-bottom: 30px !important;
	}

	.container h2 {
		margin-top: 100px !important;
	}

	.digital-marketing, .web-design, .content-creation, 	.digital-marketing h3, .web-design h3, .content-creation h3 {
		border:none;
		text-align: center;
		padding: 0px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.digital-marketing p, .web-design p, .content-creation p {
		font-size: 18px;
		margin-bottom: 34px;
	}

	.projects-title p {
		font-size:22px;
	}

	#dm, #wd {
	padding: 10px;
	}

	.container-projects {
		padding: 20px 0px !important;

	}


	.container-hobbies, .container-hobbies h4{
		text-align: center;
	}

	.container-hobbies {
		margin-bottom: 60px;
	}

	.col-7 {
		margin:auto;
	}

	.nopadding {
	   padding: 4px !important;
	   margin: 0 !important;
	}

	.container-projects {
		padding-bottom: 0px;
	}

#sus, #photo, #trav{
	display:none;
}

.icon-contact {
	display: none;
}

	form {
		width: 350px !important;
	}

}

/*CONTACT CSS*/
.container-form{
	display:flex;
	justify-content: center;
	flex-direction:column;
}

.container-form p {
	margin: 30px 0px 50px 0px !important;
}

.form-content {
	display: flex;
	justify-content: center;
	color:#BD6B42
}

form {
	font-size: 16px;
	width:600px;
}

.container-form h1, .container-form p{
	text-align:center;
}

.checkbox {
	display:flex;
	flex-direction:row;
}

.container-form-item {
	margin: 10px 0px;
}

.container-form-item input, textarea {
	margin-top: 5px;
	height: 40px;
	width: 100%;
}

.service {
	display:flex;
	flex-direction:row;
	align-items: center;
	color: #35322B
}

.checkbox {
	display: flex;
	align-items: flex-start;
	color:#35322B
}

.service input, .checkbox input {
	width: auto;
	margin-right: 10px;
}

input[type=text], input[type=email], input[type=tel], textarea {
	 border: none;
	 background-color: white;
	 outline:none;
	 font-size:15px;
	 padding: 10px;
 }

 textarea {
	 resize: none;
 }

.container-form-item select {
	margin-top: 10px;
  width: 100%;
	height: 40px;
  padding: 26px 20px;
  border: none;
  background-color:white;
	font-size: 15px;
	color:  #BD6B42;
}

.container-form-item input[name=gdpr] {
	width: auto;
	height:auto;
}

.submit {
	margin: 10px 0px 60px 0px;
}

/*project*/
.container-project-separate {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
